@font-face {
    font-family: shabnam;
    src: url('./Farsi-Digits/Shabnam-FD.eot');
    src: url('./Farsi-Digits/Shabnam-Light-FD.eot') format('FontName-opentype'),
         url('./Farsi-Digits/Shabnam-FD.woff') format('woff'),
         url('./Farsi-Digits/Shabnam-Light-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body{
      font-family:shabnam ;
  }
 .App{
    text-align: right;

 }
 .header{
     background-color: darkslategrey;
     padding: 10px; }
     .cn{
         height: 558px;
     }